@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root{
    --background-color: #e7e7e7;
    --light-gray: #e7e7e7;
    --color-wisteia: #C490D1;
    --color-blue-purple: #acacde;
    --color-ucranian-blue: #abdafc;
    --dark-blue: #161B33;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1{
    font-size: 3rem;
    font-weight: 500;
}
button{
    font-size: 1.4rem;
    padding: 0.7rem 0.5rem;
    border: none;
    margin: 0 0.5rem;
    border-radius: 20%;
    font-weight: 500;
    background-color: var(--light-gray);
    cursor: pointer;
    transition: 500ms ease-in-out;
}

#button-increase:hover{
    background-color: var(--color-wisteia);
}

#button-reset:hover{
    background-color: var(--color-blue-purple);
}

#button-decrease:hover{
    background-color: var(--color-ucranian-blue);
}

h2{
    font-size: 6rem;
    font-weight: 500;
    color: var(--dark-blue);
}

.container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}