@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root{
    --background-color: #E8C1C5;
    --light-purple: #D499B9;
    --dark-purple: #9055A2;
    --dark-blue: #161B33;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

h1{
    font-size: 2.5rem;
    font-weight: 500;
}
button{
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--light-purple);
}
h2{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--dark-blue);
}
